/*	**************************************
	This is the CSS file for navigation.
	This file just removes styling of the nav unordered list elements and formats how 
		the nav "buttons" will look on the website.
	************************************** */
.menu ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
	color: black;
}
.menu a {
	display: block;
	text-decoration: none;
	padding: 10px 10px;
}