/*	***********************************************
	This is the CSS file for the second page (find out who the odd student out is).
	The intent of this page was to have a F-Pattern bounded by the "logo" and the 
		navigation element at the top, then with all of the relative information
		below. 
	By having the two bulleted lists of differences, the goal was to showcase that
		the two groups of students are different for a plethora of reasons. 
		Additionally, by lining each reason up with the other (i.e. hair color directly
		across from hair color, etc.), the user is (hopefully) convinced to read through
		the reasons individually then read directly across and compare the two lists.
		I thought the line dividing the two would help encourage this behavior (reading
		the full lists first, then comparing across) and also provide some visual 
		pleasure.
	The rest of the F-Pattern is a relatively standard "chunk" of content and is 
		broken up by switches in text alignment and images. A section of side-by-side
		columns is also included to further "break" the content and (hopefully)
		contribute to a strong F-Pattern.
	In order to reinforce the idea that I am the "odd student out", I consistently 
		applied a few styles whenever the topic switched me. This included changes in
		text alignment, typeface, and bullet type.
	*********************************************** */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 75px 0.23fr 0.5fr 56px;
	grid-template-areas: "head head nav-bar nav-bar" 
	"info-one info-one info-two info-two" 
	
	"foot foot foot foot";
	margin: 0 auto;
}
.large-container {
	width: 90%;
	margin-left: 3%;
}
.flex-container {
	display: flex;
	flex-direction: row;
}
.head { 
	grid-area: head; 
	background-color: #B2D732;
}
.nav-bar { 
	grid-area: nav-bar;
	background-color: #B2D732;
}
.info-one { 
	grid-area: info-one; 
	border-top: 5px #092834 solid;
	background-color: #347B98;
	border-right: 2.5px #092834 solid;
}
.info-two { 
	grid-area: info-two; 
	border-top: 5px #092834 solid;
	clear: both;	
	background-color: #347B98;
	border-left: 2.5px #092834 solid;
}
.more-info { 
	grid-column: 1 / 5;
	background-color: #F0F7D4;
	line-height: 27px;
	font-family: 'Roboto', sans-serif;
	clear: left;
	border-top: 5px #092834 solid;
}
.foot { 
	grid-column: 1 / 5;
	background-color: #092834;
	color: #B2D732;
	padding-left: 5px;
	padding-top: 3px;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}
nav ul {
	display: flex;
	justify-content: flex-end;
}
nav li { 
	margin: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-size: 18px;
}
a { 
	text-decoration: none; 
	color: #092834;
	font-family: 'Roboto', sans-serif;
}
header a {
	display: block;
	position: absolute;
	text-decoration: none;
	color: black;
	text-align: start;
	margin-left: 15px;
	color: #092834;
	font-family: 'Alegreya', serif;
	font-size: 24px;
	z-index: 100;
	top: -22px;
}
.is-current {
	border-bottom: 2px solid #FE2712;
}
aside ul {
	margin: 0;
	padding-left: 0;
	list-style-type: circle;
	clear: right;
}
aside img {
	float: left;
	margin-bottom: 20px;
}
aside li {
	margin-left: 300px;
	line-height: 22px;
}
aside h2 {
	margin-left: 40px;
	font-family: 'Roboto Condensed', sans-serif;
}
aside { font-family: 'Roboto', sans-serif; }
.info-two img { 
	float: right; 

}
.info-two h2 { 
	text-align: right;
	margin-right: 40px;
	font-family: "Lucida Console", Monaco, monospace;
	color: #F0F7D4;
}
.info-two ul {
	position: absolute;
	z-index: 100;
	left: 32%;
	list-style-type: square;
	clear: left;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #F0F7D4;
}
.more-info h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
	font-size: 25px;
	font-style: italic;
	border-bottom: 2px #347B98 solid;
}
.more-info img {
	float: right;
	margin: 0;
}
.schway {
	text-align: right;
	clear: right;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-top: 20px;
}
.special { float: left; }
.flex-container div p { text-align: left; }
.first { margin-right: 20px; }
.second { margin-left: 20px; }