.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 75px 1fr 1fr 1fr 50px;
	grid-template-areas: "head head nav-bar nav-bar" "hero-img hero-img hero-img hero-img" "hero-img hero-img hero-img hero-img" "lead-in lead-in lead-in big-idea" "foot . . .";
}
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.flex-container div {
	padding: 20px;
	text-align: center;
}
.nav-bar { grid-area: nav-bar; }
.head { grid-area: head; }
.hero-img { grid-area: hero-img; }
.columns { grid-area: lead-in; }
.big-idea { grid-area: big-idea; }
.bottom { grid-area: foot; }
div { border: 1px red solid; }

